---
trial_bar: true
title: 製品紹介
description: GitLabは、1つのアプリケーションでDevOpsライフサイクルの全体をカバーします。GitLabを使用すれば、DevOpsを実践するために必要なツールの組み合わせに悩む必要がありません。GitLabの提供する高い生産性や包括的なガバナンスによって、ソフトウェア開発サイクルを3倍高速化し、ビジネススピードを大幅に向上できます。
extra_css:
  - product.css
extra_js:
  - features.js
---

.hero-container.flex-container.justify-center.align-center
  .text-center
    %h1.hero-title
      1つのアプリケーションでDevOpsライフサイクルの全体をカバー

.solutions-wrapper
  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h1
        概要
      %p
      GitLabは、1つのアプリケーションでDevOpsライフサイクルの全体をカバーします。GitLabを使用すれば、DevOpsを実践するために必要なツールの組み合わせに悩む必要がありません。GitLabの提供する高い生産性や包括的なガバナンスによって、ソフトウェア開発サイクルを3倍高速化し、ビジネスのスピードを大幅に向上できます。
    .solution-image-container.flex-container.align-center.full-width
      %img.solution-image.flex-shrink{:src => "/direction/product-vision/devops-loop-and-spans-small.png"}/
  -# .tile.overview
  -#   %p
  -#     GitLab is the first single application for all stages of the DevOps lifecycle. Only GitLab enables Concurrent DevOps, unlocking organizations from the constraints of the toolchain. GitLab provides unmatched visibility, higher levels of efficiency, and comprehensive governance. This makes the software lifecycle 3 times faster, radically improving the speed of business.
  - data.solutions.solutions.keys.each do |solution|
    - if (data.solutions.solutions.public_send(solution).image)
      .solution-container.flex-container.justify-center.align-center.full-width
        .solution-info-container.flex-container.flex-column.full-width
          %h1
            = data.solutions.solutions.public_send(solution).display_name
          %h4
            = data.solutions.solutions.public_send(solution).description
          %p
            = data.solutions.solutions.public_send(solution).body
          %a.learn-more.flex-container.align-center{ href: "/product/#{solution.to_s.gsub(/_/, '-')}" }
            %p
              詳細 →
        .solution-image-container.flex-container.align-center.full-width
          %img.solution-image.flex-shrink{:src => data.solutions.solutions.public_send(solution).image}/
    - else
      .solution-no-image
        %h1
          = data.solutions.solutions.public_send(solution).display_name
        %p
          = data.solutions.solutions.public_send(solution).description
        %p
          = data.solutions.solutions.public_send(solution).body
        %a.learn-more.flex-container.align-center{ href: "/product/#{solution.to_s.gsub(/_/, '-')}" }
          %p
            詳細 →

.gitlab-cta-container.text-center.animated
  .container
    %a.btn.cta-btn.red.hidden-sm.hidden-xs{href: "/features"}
      すべての機能を表示
