---
title: Community EditionとEnterprise Edition
description: ライセンスがないGitLab Enterprise Editionをインストールして使用することと、Community Editionをインストールして使用することに表面的な違いはありませんが、Enterprise Editionには有利な点があります。
extra_css:
  - installation.css
extra_js:
  - installation-ce.js
---
.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1 Community EditionとEnterprise Edition
  #content
    .wrapper.container{role: "main"}
      .method
        .method-content
          %ul
            %li
              %h2.block-title はじめに
              %p
                もしもGitLabに興味があるのなら、
                たとえ将来的にGitLab Enterprise Edition のライセンスを購入するかどうかわからない場合であっても、
                GitLab Enterprise Editionをダウンロードしてインストールすることを推奨します。
                なぜならば、ライセンス登録を行わくても、GitLab Community Editionのすべての機能を使用することができるからです。

              %h2.block-title ライセンスモデル
              %p
                GitLabはオープンコアモデルで開発が行われています。すなわち、GitLabには2つのバージョン(Community EditionとEnterprise Edition)が存在します。
              %p
                GitLab Community EditionはMITライセンスのもと開発されているオープンソースソフトウェアです。GitLab Enterprise EditionはCommunity Editionをベースに開発されています。
                つまり、Enterprise EditionはCommunity Editionと共通の<i>コア</i>を利用して、追加的な機能を提供しています。これはプロプライエタリなライセンスのもと配布されます。
              %p
                両バージョン共通: GitLabのすべてのjavascriptコードはオープンソースであり、MITライセンスのもと配布されます。

              %h2.block-title Enterprise Editionを使用する理由
              %p
                GitLab Enterprise Editionの機能を使用可能にするためには、ライセンスを購入する必要があります。
                もしもライセンスがないGitLab Enterprise Editionを使用している場合は、MITライセンスの機能だけを使用していることになります。
              %p
                つまり、ライセンスがないGitLab Enterprise Editionをインストールして使用することと、Community Editionをインストールして使用することに表面的な違いはありませんが、Enterprise Editionには有利な点があります。
              .about-ce
                %ol
                  %li
                    %p
                      不意にGitLab Enterprise Editionの機能を試してみたくなった場合でも、新しいインスタンスを用意したり、既存のインスタンスをアップグレードする必要はありません。
                      GitLab Enterprise Editionの機能のトライアルを有効にするだけで、試すことができます。
                      もしもGitLab Enterprise Editionの機能に満足しなかった場合は、トライアル期間の終了後、自動的にCommunity Editionの機能だけの状態に戻ります。
                  %li
                    %p
                      Community EditionインスタンスをEnterprise Editionインスタンスへアップグレードするには、同じバージョンであることを確認し、ダウンタイムを伴う特別な手順に従う必要があります。
                      Enterprise Editionインスタンスを使用すれば、Community Editionの機能だけの状態とEnterprise Editionのすべての機能が有効な状態を、ワンクリックで切り替えることができます。
              %p
                = succeed '。' do
                  %a#ee_link3{:title => '', :href => '/installation/'}GitLab Enterprise Editionをインストールする

              %h2.block-title Community Editionを使用する理由
              %p
                もしもオープンソースソフトウェアだけをダウンロードしたい場合は、Community Editionは最良の選択です。このディストリビューションはプロプライエタリなコードを含んでいません。機能的には、ライセンスがないEnterprise Editionと同等です。
              %p
                将来、Enterprise Editionへの移行する場合は、アップグレードが必要でありダウンタイムが発生する可能性に留意してください。
              %p
                = succeed '。' do
                  %a#ce_link{:title => '', :href => '/installation/?version=ce'}GitLab Community Editionをインストールする
