// "Lato" font-family
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900');
@import "mixins/typography";

.jumbo-heading {
  @include accent-font-light;
  font-size: 45px;

  @media (min-width: $screen-md-min) {
    font-size: 55px;
  }
}

.main-heading {
  @include accent-font-light;
  margin-bottom: $spacing-unit-xs;
  font-size: 34px;

  @media (min-width: $screen-md-min) {
    font-size: 36px;
  }
}

.section-heading {
  @include font-weight-regular;
  margin-top: 10px;
  font-size: 30px;
  color: $color-primary;
}

.sub-heading {
  @include accent-font-regular;
  font-size: 26px;

  @media (min-width: $screen-md-min) {
    font-size: 32px;
  }
}

.promo-text {
  font-size: 20px;
  font-weight: 300;
}

.table th h4 {
  margin-top: 0;
}
