!!! 5
%html{lang: "ja"}
  %head
    = partial "includes/layout/head"
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/stylesheets/release-posts.css"}
  %body{:data => {:spy => "scroll", :target => ".qnav", offset: "90"}}
    - if gtm_enabled?
      = partial 'includes/layout/gtm_body.html'
    = partial "includes/layout/header"

    / blog template
    .blog.article
      - if is_blog_article?
        - image_title = current_article.data.image_title ? current_article.data.image_title : '/images/default-blog-image.png'
        .cover{ style: "background-image: url(#{image_title});" }
          - header_layout_dark = current_article.data.header_layout_dark
          %div{ class: "overlay#{header_layout_dark ? '-dark' : ''}"}
            %div{ class: "wrapper header #{header_layout_dark ? 'dark-header' : ''}"}
              %span.date
                = current_article.date.to_time.strftime '%Y年%m月%d日'
              %span -
              %span{ class: "author #{header_layout_dark ? 'dark-header' : ''}"}
                = current_article.data.author
                - if current_article.data.author_gitlab
                  = link_to("https://gitlab.com/#{current_article.data.author_gitlab}", target: "_blank") do
                    %span &nbsp;
                    %spam{ class: "author-gitlab #{header_layout_dark ? 'dark-header' : ''}"}
                      %i.fab.fa-gitlab
                - if current_article.data.author_twitter
                  = link_to("https://twitter.com/#{current_article.data.author_twitter}", target: "_blank") do
                    %span &nbsp;
                    %spam{ class: "author-twitter #{header_layout_dark ? 'dark-header' : ''}"}
                      %i.fab.fa-twitter
                - if current_article.data.original_url
                  %span
                    = %Q|(#{link_to("原文", current_article.data.original_url, target: "_blank")})|
              - release_number_dark = current_article.data.release_number_dark
              - if current_article.data.release_number
                %div{ class: "release-number #{release_number_dark ? 'release-number-dark' : ''}"}
                  = current_article.data.release_number
              %h1
                = current_article.title
              - if current_article.data.description
                %p.description
                  = current_article.data.description
              - if current_article.data.cta_button_link && current_article.data.cta_button_text
                = link_to(current_article.data.cta_button_text, "#{current_article.data.cta_button_link}", class: "btn btn-lg btn-red")

      / body template
      .wrapper.body
        .content
          - filename = File.basename(current_page.path, File.extname(current_page.path)).gsub("-", "_")
          / release post content
          %section.release-post-section
            #intro
              = yield

            = partial "includes/blog/twitter_helper"
          = partial("includes/release", :locals => { :datafile => data.release_posts[filename], :current_article => current_article })

          /last section
          %section#about-gitlab.gray-section
            .release-row.align-top
              .column
                %h3{:id => "changelog"}
                  %a.header-link{href: "#changelog"}
                    %i.fas.fa-link
                  変更履歴
                %p
                  すべての名称付きの変更を確認したい場合はCHANGELOGを確認してください:
                  %ul
                    %li
                      %a{:href => "https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CHANGELOG.md", target: "_blank", title: "GitLab Community Edition"} GitLab Community Edition
                    %li
                      %a{:href => "https://gitlab.com/gitlab-org/gitlab-ee/blob/master/CHANGELOG-EE.md", target: "_blank", title: "GitLab Enterprise Edition"} GitLab Enterprise Edition
                    %li
                      %a{:href => "https://gitlab.com/gitlab-org/gitlab-runner/blob/master/CHANGELOG.md", target: "_blank", title: "GitLab Runner"} GitLab Runner
                %h3{:id => "installing"}
                  %a.header-link{href: "#installing"}
                    %i.fas.fa-link
                  インストール方法
                %p
                  新規にGitLabをインストールをする場合は
                  %a{:href => "/installation/"} インストール
                  のページを参照してください。
                %h3{:id => "updating"}
                  %a.header-link{href: "#updating"}
                    %i.fas.fa-link
                  アップデート方法
                %p
                  %a{:href => "https://about.gitlab.com/update/"} アップデート
                  ページを参照ください。
              .column
                %h3{:id => "gitlab-products"}
                  %a.header-link{href: "#gitlab-products"}
                    %i.fas.fa-link
                  GitLabのサブスクリプションプラン
                %p
                  GitLabは
                  %a{href: "/pricing/#self-managed"} セルフホスト
                  または
                  %a{href: "/pricing/#gitlab-com"} クラウドサービス
                  で利用できます。
                  :markdown

                    **[セルフホスト](/pricing/#self-managed)**: オンプレミス、またはクラウドプラットフォームにデプロイ
                    {:#self-managed}

                    - {: #core} **Core**: 小規模なチーム、個人プロジェクト、または無期限でのGitLabの試用に向いています
                    - {: #starter} **Starter**: プロフェッショナルのサポートが必要な、同一の場所で作業するチームに向いています
                    - {: #premium} **Premium**: 高度な機能、高可用性、365日24時間のサポートが必要な、複数の場所で作業するチームに向いています
                    - {: #ultimate} **Ultimate**: 高度なセキュリティとコンプライアンスで戦略の実行が求められるエンタープライズ向けのプランです

                    **[クラウドサービス](/pricing/#gitlab-com)** - **GitLab.com**: 無料でも利用可能な、GitLabが運営するクラウドサービスです。
                    {: #gitlab-com}

                    - {: #free} **Free**: プライベートリポジトリと共同作業者の制限はありません。
                      プライベートプロジェクトでは**Free**の機能に制限されますが、[パブリックプロジェクト](https://gitlab.com/explore){:target="_blank"}では**Gold**の機能を利用できます。
                    - {: #bronze} **Bronze**: より高度なワークフロー機能が必要なチームに向いています。
                    - {: #silver} **Silver**: より強力なDevOps機能、コンプライアンス、迅速なサポートが必要なチームに向いています。
                    - {: #gold} **Gold**: 多くののCI/CDのジョブを実行できます。プランにかかわらず、パブリックプロジェクトでは無料でGoldの機能を利用できます。

          / cover image
          %section#cover-img.release-post-section
            - data.release_posts[filename].cover_img do |cover|
              %p.note.text-center
                %a{href: "#{cover.image_url}", target: "_blank", rel: "noindex, nofollow"} カバーイメージ
                のライセンスは
                = link_to(cover.licence, "#{cover.licence_url}", target: "_blank")
                です。

        / default template
        .social
          = partial "includes/blog/share"
        = partial "includes/blog/pager"
      / - if production?
      /   .wrapper.comments
      /     = partial "includes/blog/comments"
      = partial "includes/layout/footer"
      - unless current_page.data.ee_cta == false
        = partial "includes/features/gitlab-ee-trial"

    / tooltip
    %script{:async => "", :src => "/javascripts/bootstrap-tooltip.js", :type => "text/javascript"}
