.col-sm-4.clearfix.feature-container
  .col-xs-12.feature-contents
    %h4
      = feature.title
    .feature
      = link_to feature.screenshot_url do
        = image_tag feature.screenshot_url
    = partial "includes/features/badges", locals: { tier_hash: serialize_tier_hash(feature), gitlab_com: feature.gitlab_com }
    = kramdown(feature.description)
    - unless (feature.link == nil)
      %span
        - if (feature.link.to_s.start_with?("https://docs.gitlab.com"))
          = link_to "ドキュメント(英語)", feature.link, target: '_blank'
        - elsif (feature.link.to_s.start_with?("https://gitlab.com/"))
          = link_to "課題の詳細(英語)", feature.link, target: '_blank'
        - elsif (feature.link.to_s.start_with?("https://about.gitlab.com/20"))
          = link_to "ブログ記事(英語)", feature.link, target: '_blank'
        - elsif (feature.link.to_s.start_with?("https://about.gitlab.com"))
          = link_to "機能の詳細(英語)", feature.link, target: '_blank'
        - elsif (feature.link.to_s.start_with?("/20"))
          = link_to "ブログ記事(英語)", "https://about.gitlab.com#{feature.link}", target: '_blank'
        - elsif (feature.link.to_s.start_with?("/features"))
          = link_to "機能の詳細(英語)", "https://about.gitlab.com#{feature.link}", target: '_blank'
        - elsif (feature.link.to_s.start_with?("/"))
          = link_to "#{feature.link_description}(英語)", "https://about.gitlab.com#{feature.link}", target: '_blank'
        - else
          = link_to feature.link_description, feature.link
