.sticky-banner.js-sticky-banner.active#sticky-banner
  .sticky-banner-content
    .sticky-banner-text
      %p.header-text
        日本語でのサポートが必要な場合は
        %a{ href: 'https://www.creationline.com/gitlab', target: '_blank' } 国内正規販売代理店
        へお問い合せください。
      %p.subheader-text
        無料で30日間、
        %a{ href: "/pricing#self-hosted" }GitLab Ultimate
        を試用できます。
  %img.dismiss-trial#dismiss-trial{src: "/images/icons/x.svg"}
:javascript
  (function() {
    var trialDismissed = false
    document.getElementById("dismiss-trial").addEventListener("click", dismissTrial)
    function dismissTrial() {
      document.getElementById('sticky-banner').style.display = "none";
    }
  })();
