
- if feature.link == nil
  = feature.title
- elsif feature.link.start_with?('/')
  = link_to feature.title, "https://about.gitlab.com#{feature.link}", target: '_blank'
- else
  = link_to feature.title, feature.link, target: '_blank'
