---
trial_bar: true
title: セキュリティ
extra_css:
  - features-v2.css
  - release-posts.css
---

= partial "includes/solutions/solution-page", locals: { solution: data.solutions.solutions.secure, solution_name: "secure" }
