- comparisons = data.features.comparisons
.container.dropdown.text-center
  .row#dropdown
    .col-md-12.dropdown-section
      .dropdown.level
        %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
          %span
            = comparison_block.title
          %i.fa.fa-chevron-down
        %ul.dropdown-menu
          - comparisons.keys.each do |comparison_key|
            %li
              - if (comparisons[comparison_key].link != nil)
                - link = "#{comparisons[comparison_key].link}#dropdown"
                = highlight_active_nav_link(comparisons[comparison_key].title, link)
%h2.titles-comparison-companies.text-center
  = comparison_block.title
.container.text-center
  .row
    .col-md-10.col-md-offset-1
      -# Show the "summary" element for this comparison (features.yml) if it exists.
      - if comparison_block.summary.present?
        %p
          = comparison_block.summary
      %br
- if (comparison_block.feature_page != "null")
  %h3.text-center
    = comparison_block.feature_page
    = link_to comparison_block.feature_page_link_description, comparison_block.feature_page_link
    = comparison_block.feature_page_link_description_2
%table.compare-table.comparing-gitlab
  %colgroup
    %col{:width => "80%"}
    %col{:width => "10%"}
    %col{:width => "10%"}
  %thead
    %tr
      %th.text-left.table-title
        機能
      %th.text-center.table-title-logo
        - if (product_two.logo != "null")
          %img{ src: "#{product_two.logo}", alt: "#{product_two.name}", class: "logo" }
        - else
          = product_two.name
      %th.text-center.table-title-logo
        - if (product_one.logo != "null")
          %img{ src: "#{product_one.logo}", alt: "#{product_one.name}", class: "logo" }
        - else
          = product_one.name
  %tbody.header.first
    - data.features.features.each do |feature|
      - if (feature.public_send(key_one) != nil && feature.public_send(key_two) != nil)
        %tr
          %td.feature-in-list
            %p.feature-in-list-title.feature-contents
              %strong= feature.title
              - if feature.gitlab_ultimate
                = partial "includes/features/badges", locals: { tier_hash: serialize_tier_hash(feature), gitlab_com: feature.gitlab_com, is_dark: true }
            %p
              = kramdown(feature.description)
            %p
              - if feature.link =~ %r{^/}
                = link_to feature.link_description, feature.link
              - else
                = link_to feature.link_description, feature.link, target: '_blank'
          %td.check-container.text-center
            - if (feature.public_send(key_two) == "partially")
              = partial "includes/icons/comparison/maybe-icon.svg"
            - if (feature.public_send(key_two) == true)
              = partial "includes/icons/comparison/yes-icon.svg"
            - if (feature.public_send(key_two) == false)
              = partial "includes/icons/comparison/no-icon.svg"
          %td.check-container.text-center
            - if (feature.public_send(key_one) == "partially")
              = partial "includes/icons/comparison/maybe-icon.svg"
            - if (feature.public_send(key_one) == true)
              = partial "includes/icons/comparison/yes-icon.svg"
            - if (feature.public_send(key_one) == false)
              = partial "includes/icons/comparison/no-icon.svg"

.last-updated-section
  %p.clearfix
  %p
    この文章の大部分が、GitLabの好きなユーザーによって書かれています。
    そのため、GitLabに対するバイアスがかかっている可能性があります。
    しかし、できる限り公正で事実に基づいた比較を行いたいと考えています。
    GitLabにはない、他の製品の優れた機能があれば、ぜひ追加をしてください。
    もしも、比較表に間違いやバイアスや漏れや古くなった内容を見つけた場合は、
    このウェブサイトを修正するマージリクエストを投稿してください。
    このウェブサイトのすべてのページは、フッターにあるリンクをたどって、
    修正のマージリクエストを投稿することができます。
