---
layout: comparison_page
trial_bar: true
suppress_header: true
title: "GitLab Security vs. GitHub Security | GitLab compared to other tools"
image_title: '/images/comparison/title_image.png'
extra_css:
  - compared.css
  - release-posts.css
extra_js:
  - comparison.js
  - bootstrap-tooltip.js
---

- competitors = data.features.competitors
= partial "includes/comparison_table", locals: { comparison_block: data.features.comparisons.gitlab_security_vs_github_security, product_one: competitors.gitlab_security, product_two: competitors.github_security, key_one: :gitlab_security, key_two: :github_security }
