---
layout: comparison_page
trial_bar: true
title: GitLabと他のツールの比較
description: "このページでは、GitLabとその他のツールの機能比較をしています。ツールを選択する際の手助けとなるように、それぞれのツールの長所と短所を記載しています。"
suppress_header: true
image_title: '/images/comparison/title_image.png'
extra_css:
  - compared.css
  - release-posts.css
extra_js:
  - comparison.js
  - bootstrap-tooltip.js
---

- product_one = data.features.competitors[key_one]
- product_two = data.features.competitors[key_two]

= partial "includes/comparison_filter", locals: { key_one: key_one, key_two: key_two }

%h1.titles-comparison-companies.text-center
  = product_one.name + " vs GitLab"
.container
  .row
    .col-md-10.col-md-offset-1
      - if product_one.summary.present?
        = kramdown(product_one.summary)
      - if product_one.include_file.present?
        = partial product_one.include_file
      %br

%table.compare-table.comparing-gitlab
  %colgroup
    %col{:width => "80%"}
    %col{:width => "10%"}
    %col{:width => "10%"}
  %thead
    %tr
      %th.text-left.table-title
        機能
      %th.text-center.table-title-logo
        - if (product_one.logo != "null")
          %img{ src: "#{product_one.logo}", alt: "#{product_one.name}", class: "logo" }
        - else
          = product_one.name
      %th.text-center.table-title-logo
        %img{ src: "/images/comparison/gitlab-logo.svg", alt: "GitLab", class: "logo" }
  %tbody.header.first
    - data.features.features.each do |feature|
      - shared_feature = (feature.public_send(key_one) != nil && feature.public_send(key_two) != nil)
      - if shared_feature
        %tr
          %td.feature-in-list
            %p.feature-in-list-title.feature-contents
              %strong= feature.title
              - if feature.gitlab_ultimate
                = partial "includes/features/badges", locals: { tier_hash: serialize_tier_hash(feature), gitlab_com: feature.gitlab_com, is_dark: true }
            %p
              = kramdown(feature.description)
            %p
              = link_to feature.link_description, feature.link
          %td.check-container.text-center
            - feature_support = feature.public_send(key_one)
            - if (feature_support == "partially")
              = partial "includes/icons/comparison/maybe-icon.svg"
            - if (feature_support == true)
              = partial "includes/icons/comparison/yes-icon.svg"
            - if (feature_support == false)
              = partial "includes/icons/comparison/no-icon.svg"
          %td.check-container.text-center
            - feature_support = feature.public_send(key_two)
            - if (feature_support == "partially")
              = partial "includes/icons/comparison/maybe-icon.svg"
            - if (feature_support == true)
              = partial "includes/icons/comparison/yes-icon.svg"
            - if (feature_support == false)
              = partial "includes/icons/comparison/no-icon.svg"

.last-updated-section
  %p.clearfix
    // check if file exists to display download button
    - if sitemap.find_resource_by_path("/comparison/pdfs/#{key_one.dup.tr('_', '-')}-vs-gitlab.pdf")
      = link_to "Download as PDF", "/comparison/pdfs/#{key_one.dup.tr('_', '-')}-vs-gitlab.pdf", class: "featured-item-button pull-right", download: "Comparison PDF", target: "_blank"
  %p
    この文章の大部分が、GitLabのファンによって書かれています。 そのため、GitLabに対するバイアスがかかっている可能性があります。 しかし、できる限り公正で事実に基づいた比較を行いたいと考えています。 GitLabにはない、他の製品の優れた機能があれば、ぜひ追加をしてください。 もしも、比較表に間違いやバイアスや漏れや古くなった内容を見つけた場合は、 このウェブサイトを修正するマージリクエストを投稿してください。 このウェブサイトのすべてのページは、フッターにあるリンクをたどって、 修正のマージリクエストを投稿することができます。