- full_path = current_page.file_descriptor.relative_path
.animated.text-center.source-link
  = 'このサイトは' + link_to('GitLab Pages', 'https://about.gitlab.com/features/pages/', class: 'external-source-link', target: '_blank') + 'でホストされています'
  &mdash;
  = link_to('貢献', "#{data.site.repo}blob/master/CONTRIBUTING.md", class: 'external-source-link', target: '_blank') + 'をお願いします'
  = partial "includes/cc-license"
  .edit-on
    = link_to('このページを編集', "#{data.site.repo}blob/master/source/#{full_path}", class: 'external-source-link', target: '_blank')

= partial "includes/layout/scripts"
