---
trial_bar: true
title: 設定
extra_css:
  - features-v2.css
  - release-posts.css
---

= partial "includes/solutions/solution-page", locals: { solution: data.solutions.solutions.configure, solution_name: "configure" }
