---
title: 料金
description: "GitLabをセルフホストする場合とGitLab.comを使用する場合、それぞれで利用できるプランとその料金を表示します。"
extra_css:
  - gitlab-com.css
  - pricing.css
extra_js:
  - tabs.js
---

-# HARK;GENERATED CONTENT BELOW!
-# The below block is generated by data from /data/gitlab_com.yml file.
-# This is where you will want to look to edit the content of the page.

.tab-container
  %ul.pricing-tabs{ role: "tablist"}
    %li.active{ role: "presentation" }
      %a{ href: '#self-hosted', "data-toggle" => "tab", "aria-controls" => "self-hosted", role: "tab" }
        = partial "includes/icons/self-hosted-icon.svg"
        セルフホスト
    %li{ role: "presentation" }
      %a{ href: '#gitlab-com', "data-toggle" => "tab", "aria-controls" => "gitlab-com", role: "tab" }
        = partial "includes/icons/gitlab-com-icon.svg"
        GitLab.com

  .tab-content
    .tab-pane.active{ role: "tabpanel", id: "self-hosted"}
      .pricing-options.pricing-options--self-hosted.text-center
        .container
          .row
            .col-md-10.col-md-offset-1.pricing-intro
              %h1 オンプレミスやパブリッククラウドにインストールして使用する。
              %a.btn.cta-btn.purple{ href: 'https://www.creationline.com/gitlab', target: '_blank' } 日本語でのサポートが必要な場合は「国内正規販売代理店」へお問い合せください

          .row.flex-row.plan-row
            .col-md-3
              .plan.plan--core
                %h3.plan-name Core
                %p.plan-description
                  開発者がアプリケーションをビルド・デプロイ・実行するのをサポートします。
                .row.plan-pricing
                  .col-xs-8.cost.cost-large
                    $0
                  .col-xs-4
                    1ユーザー
                    %br
                    1ヶ月
                %ul#community-edition.plan-item-list.list-unstyled
                  - data.features.features.each do |feature|
                    - if (feature.gitlab_core == true && feature.pricing_page == true)
                      %li.item-description
                        = partial 'includes/features/link', locals: { feature: feature }
                = link_to "各種プランの機能比較", "/pricing/self-hosted/feature-comparison/", class: "all-features"

            .col-md-3
              .plan.plan--starter
                %h3.plan-name Starter
                %p.plan-description
                  自動化やワークフローによって、チームでのDevOpsの実践を促進します。
                .row.plan-pricing
                  .col-xs-8.cost.cost-large
                    $4
                  .col-xs-4
                    1ユーザー
                    %br
                    1ヶ月
                    %br
                    *年払い
                %ul#enterprise-edition-starter.plan-item-list.list-unstyled
                  - data.features.features.each do |feature|
                    - if (feature.gitlab_core == false && feature.gitlab_starter == true && feature.pricing_page == true)
                      %li.item-description
                        = partial 'includes/features/link', locals: { feature: feature }
                = link_to "各種プランの機能比較", "/pricing/self-hosted/feature-comparison/", class: "all-features"

            .col-md-3
              .plan.plan--premium
                %h3.plan-name Premium
                %p.plan-description
                  インクリメンタルなデプロイや先進的なKubernetes管理などの高度なDevOpsサポートによって、ITの進化を加速させます。
                .row.plan-pricing
                  .col-xs-8.cost.cost-large
                    $19
                  .col-xs-4
                    1ユーザー
                    %br
                    1ヶ月
                    %br
                    *年払い
                %ul#enterprise-edition-premium.plan-item-list.list-unstyled
                  - data.features.features.each do |feature|
                    - if (feature.gitlab_core == false && feature.gitlab_starter == false && feature.gitlab_premium == true && feature.pricing_page == true)
                      %li.item-description
                        .triangle
                          = partial 'includes/features/link', locals: { feature: feature }
                = link_to "各種プランの機能比較", "/pricing/self-hosted/feature-comparison/", class: "all-features"

            .col-md-3
              .plan.plan--ultimate
                %h3.plan-name Ultimate
                %p.plan-description
                  優先度、セキュリティ、リスク、コンプライアンスを管理すると同時に、デリバリを最適化し、ITでビジネスの進化を加速させます。
                .row.plan-pricing
                  .col-xs-8.cost.cost-large
                    $99
                  .col-xs-4
                    1ユーザー
                    %br
                    1ヶ月
                    %br
                    *年払い
                %ul#enterprise-edition-premium.plan-item-list.list-unstyled
                  - data.features.features.each do |feature|
                    - if (feature.gitlab_core == false && feature.gitlab_starter == false && feature.gitlab_premium == false && feature.gitlab_ultimate == true)
                      %li.item-description
                        .triangle
                          = partial 'includes/features/link', locals: { feature: feature }
                = link_to "各種プランの機能比較", "/pricing/self-hosted/feature-comparison/", class: "all-features"

    .tab-pane{ role: "tabpanel", id: "gitlab-com"}
      .pricing-options.pricing-options--saas.text-center
        .container
          .row
            .col-md-10.col-md-offset-1.pricing-intro
              %h1
                GitLab.com - GitLabが提供するクラウドサービスを利用する。
              %a.btn.cta-btn.purple{ href: 'https://gitlab.com/users/sign_in', target: '_blank' } サインアップ

          .row.flex-row.plan-row
            - data.gitlab_com.prices.free_plan do |plan|
              .col-md-3
                .plan.plan--free
                  %h3.plan-name
                    = plan.title
                  %p.plan-description
                    = plan.edition_description
                  .row.plan-pricing
                    .col-xs-8.cost.cost-large
                      = plan.yearly
                    .col-xs-4
                      1ユーザー
                      %br
                      1ヶ月
                  %ul#free-plan.plan-item-list.list-unstyled
                    %li.item-description
                      = plan.description
                    %li.item-description
                      = plan.support
                    - data.features.features.each do |feature|
                      - if (feature.gitlab_core == true && feature.gitlab_com != false && feature.pricing_page == true)
                        %li.item-description
                          = partial 'includes/features/link', locals: { feature: feature }
                  = link_to "各種プランの機能比較", "/pricing/gitlab-com/feature-comparison/", class: "all-features"

            - data.gitlab_com.prices.bronze_plan do |plan|
              .col-md-3
                .plan.plan--bronze
                  %h3.plan-name
                    = plan.title
                  %p.plan-description
                    = plan.edition_description
                  .row.plan-pricing
                    .col-xs-8.cost.cost-large
                      = plan.monthly
                    .col-xs-4
                      1ユーザー
                      %br
                      1ヶ月
                      %br
                      *年払い
                  %ul#bronze-plan.plan-item-list.list-unstyled
                    %li.item-description
                      %strong
                        Freeプランのすべての機能+
                    %li.item-description
                      = plan.description
                    - data.features.features.each do |feature|
                      - if (feature.gitlab_core == false && feature.gitlab_starter == true && feature.gitlab_com != false && feature.pricing_page == true)
                        %li.item-description
                          = partial 'includes/features/link', locals: { feature: feature }
                  = link_to "各種プランの機能比較", "/pricing/gitlab-com/feature-comparison/", class: "all-features"

            - data.gitlab_com.prices.silver_plan do |plan|
              .col-md-3
                .plan.plan--silver
                  %h3.plan-name
                    = plan.title
                  %p.plan-description
                    = plan.edition_description
                  .row.plan-pricing
                    .col-xs-8.cost.cost-large
                      = plan.monthly
                    .col-xs-4
                      1ユーザー
                      %br
                      1ヶ月
                      %br
                      *年払い
                  %ul#silver-plan.plan-item-list.list-unstyled
                    %li.item-description
                      %strong
                        Bronzeプランのすべての機能+
                    %li.item-description
                      = plan.description
                    - data.features.features.each do |feature|
                      - if (feature.gitlab_starter == false && feature.gitlab_premium == true && feature.gitlab_com != false && feature.pricing_page == true)
                        %li.item-description
                          = partial 'includes/features/link', locals: { feature: feature }
                  = link_to "各種プランの機能比較", "/pricing/gitlab-com/feature-comparison/", class: "all-features"

            - data.gitlab_com.prices.gold_plan do |plan|
              .col-md-3
                .plan.plan--gold
                  %h3.plan-name
                    = plan.title
                  %p.plan-description
                    = plan.edition_description
                  .row.plan-pricing
                    .col-xs-8.cost.cost-large
                      = plan.monthly
                    .col-xs-4
                      1ユーザー
                      %br
                      1ヶ月
                      %br
                      *年払い
                  %ul#silver-plan.plan-item-list.list-unstyled
                    %li.item-description
                      %strong
                        Silverプランのすべての機能+
                    %li.item-description
                      = plan.description
                    - data.features.features.each do |feature|
                      - if (feature.gitlab_starter == false && feature.gitlab_premium == false && feature.gitlab_ultimate == true && feature.gitlab_com != false)
                        %li.item-description
                          = partial 'includes/features/link', locals: { feature: feature }
                  = link_to "各種プランの機能比較", "/pricing/gitlab-com/feature-comparison/", class: "all-features"
