---
trial_bar: true
title: 検証
extra_css:
  - features-v2.css
  - release-posts.css
---

= partial "includes/solutions/solution-page", locals: { solution: data.solutions.solutions.verify, solution_name: "verify" }
